body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  margin-top: 20px; /* Add space above the first row */
  margin-bottom: auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  width: calc(33.33% - 40px); /* Set maximum of 3 products in a row */
}

.product img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.product h2 {
  font-size: 24px;
  margin-top: 10px;
}

.product p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.6;
}

.glowing-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #1e1e1e;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.glowing-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
}

@media (max-width: 600px) {
  .product {
    width: 100%; /* Change width to 100% for mobile devices */
  }

  .container {
    margin-bottom: 20px; /* Add space under the products for mobile devices */
  }
}

.round-button {
  position: fixed;
  left: 20px; /* Adjust the distance from the left as needed */
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.round-button span {
  font-size: 24px;
  color: white;
  line-height: 1;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 600px) {
  .product {
    width: 100%;
  }

  .container {
    margin-bottom: 20px;
  }

  .glowing-button {
    margin-bottom: 50px; /* Add a big space under the round button on mobile */
  }
}
